<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="SelfHostedWCF.Servicos.AlunoService" behaviorConfiguration="wsdlConfiguration">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7171" />
            <add baseAddress="net.tcp://localhost:7272" />
          </baseAddresses>
        </host>
        <endpoint 
          address="alunoAdress" 
          binding="basicHttpBinding" 
          contract="SelfHostedWCF.Contratos.IAlunoService" />
        <endpoint
          address="alunoAdress"
          binding="netTcpBinding"
          contract="SelfHostedWCF.Contratos.IAlunoService" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsdlConfiguration">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>